.main-array-container{
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;

}
.array{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.line{ 
    height: 0px;
    width: 0px;
    background: var(--color-lightgreen);
    background: linear-gradient(180deg, var(--color-yellow) 0px, var(--color-lightgreen) 650px);
}
@media screen and (max-width: 1024px){
    .main-array-container{
        width: 80%;
    }
}
@media screen and (max-width: 768px){
    .main-array-container{
        width: 100%;
    }
}