* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sorting-container {
    width: 100%;
    height: 100vh;
    display: flex;

    svg {
        width: 100%;

        * {
            transition: fill 100ms ease;
        }
    }
}